{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row">


    {% for product in products %}
        <div class="card border-primary mb-3 col-3" >
            <div class="card-header">{{ product.name }}</div>
            <div class="card-body">

                {% if product.images.0 is not null %}

                <div class="card-img"><img src="{{ vich_uploader_asset(product.images.0,'imageFile')|imagine_filter('vignette') }}" alt=""></div>

{% endif %}
                <p class="card-text">{{ product.description }}</p>
                <div class="row">
                    <p><strong>Price : {{ product.price }}€</strong></p>
                    <a href="{{ path('app_cart_add', {id:product.id, quantity:1}) }}" class="btn btn-success">Add one to cart</a>
                    <a href="{{ path('app_cart_add', {id:product.id, quantity:2}) }}" class="btn btn-success">Add two to cart</a>
                </div>
            </div>
        </div>


    {% endfor %}
    </div>

{% endblock %}
