{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block body %}
<div class="row">
    {% for image in product.images %}


            <div class="col-4">
                <img src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('vignette') }}" alt="">
                <a href="{{ path('app_image_delete', {id:image.id}) }}" class="btn btn-danger">Delete</a>
            </div>
    
        
    {% endfor %}
    </div>
    {{ form_start(form, {'action': path('app_image_product_add', {id:product.id}), 'method': 'POST'}) }}
    {{ form_widget(form.imageFile)}}
    <button type="submit" class="btn btn-success">OK</button>
    {{ form_end(form) }}
{% endblock %}
