{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StreetNumber</th>
                <th>Street</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Country</th>
                <th>PhoneNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if app.user.profile.addresses is not null %}
        {% for address in app.user.profile.addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.streetNumber }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.zipcode }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.country }}</td>
                <td>{{ address.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_address_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
 {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_address_new') }}">Create new</a>
{% endblock %}
